.carousel-item1 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.40)), url(../assets/KhaoYai.webp);
}

.carousel-item2 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.30)), url(../assets/Intanon.jpg);
}

.carousel-item3 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.50)), url(../assets/Tungsalaengluang.jpg);
}

.carousel-item1,
.carousel-item2,
.carousel-item3 {
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 992px) {
    .carousel-item1 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../assets/KhaoYai.webp);
    }
    
    .carousel-item2 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../assets/Intanon.jpg);
    }
    
    .carousel-item3 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(../assets/Tungsalaengluang.jpg);
    }
}